.container {
  width: 150px;
  border: black 1px solid;
  margin: 0 auto;
  margin-top: 30px;
  font-family: Helvetica;
}

.row div {
  display: inline-block;
  font-size: 20px;
}

.button {
  padding: 10px;
  font-size: 20px;
}

.button:hover {
  color: white;
  -webkit-text-stroke: 1px black;
}

.screen {
  width: 150px;
  text-align: right;
  border-bottom: 1px black solid;
  height: 30px;
}

.final-data {
  padding-top: 4px;
  padding-right: 23px;
}